<style>
.mb-logo {
  width: 5%;
  height: 5%;
  order: 0;
}

.stories-heading { 
  padding-top: 2px;
  color:black !important;
  order: 1;
}

</style>


<p id="notice"><%= notice %></p>

<div style = "display: flex; flex-direction: row;">
  <%= image_tag("/cup.jpg", :alt => "rss feed", :class => "mb-logo") %>
  <h1 class = "stories-heading">Stories</h1>
</div>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tag</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class = "story-cards">
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= story.tag %></td>
        <td><%= story.body %></td>
        <td><%= link_to 'Preview', preview_story_path(story) %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
